.sidebarOption {
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
}

.sidebarOption:hover {
    color: #fff;
}

.sidebarOptionIcon {
    padding-right: 10px;
    padding-left: 10px;
}

.sidebarOption > p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}